{% extends "base.html.twig" %}

{% block title %}A propos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

	<h1 id="aboutTitle">Mais qui suis-je ?</h1>
	<span id="aboutText">
		<p>
			Passionné par Internet et ses multiples applications, J’ai décidé de créer Wecomin pour vous aider à accroître votre business grâce à la communication.
		</p>
		<p>
			Diplômé en développement Web ainsi qu’en Community Management, je continu sans cesse à me former pour proposer
            des services performants.
		</p>
		<p>
			Je prends soin de cibler vos besoins et créer une relation de confiance pour réaliser nos objectifs.
		</p>
		<p>
			Toujours à l’écoute, j’insiste pour que notre collaboration soit la meilleurs possible.
		</p>
		<p>
			Je suis impatient de démarrer votre projet !!!
		</p>
		<p class= "text-right mr-5">
			<strong>Cédric</strong>
		</p>
	</span>

{% endblock %}
