{% extends "base.html.twig" %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
		<div id= "AboutBg">
			<img class="img-fluid" id= "AboutImage" src="/assets/Pictures/Background/notebookBg.jpg" alt="bloc note">
				<h1>Mais qui suis-je ?</h1>
					<div class="container" id="aboutText">
						<p>
							Passionné par Internet et ses multiples applications, J’ai décidé de créer Wecomin pour vous aider à accroître votre business grâce à la communication.
						</p>
						<p>
							Diplômé en développement Web ainsi qu’en Community Management, je continue sans cesse à me former pour proposer
							des services performants.
						</p>
						<p>
							Je prends soin de cibler vos besoins et créer une relation de confiance pour réaliser nos objectifs.
						</p>
						<p>
							Toujours à l’écoute, j’insiste pour que notre collaboration soit la meilleure possible.
						</p>
						<p>
							Je suis impatient de démarrer votre projet !
						</p>
						<p class= "text-right mr-5">
							<strong>Cédric</strong>
						</p>
				</div>
		</div>
{% endblock %}
