{% extends 'base.html.twig' %}

{% block title %}Wecomin
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block body %}
        <div class="h-100">
            <h1 class="my-4">La Communication</h1>
            <h2 id="h2" class="d-flex justify-content-end">Digitale</h2>
        </div>
{% endblock %}
