{% extends "base.html.twig" %}
{% block title %}Page Admin
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('serviceForm') }}">Ajouter une prestation</a>
    </div>
    <div>
        <a href="{{ path('serviceChange') }}">Modifier une prestation</a>
    </div>
    <div>
        <a href="{{ path('userChange') }}">Modifier un utilisateur</a>
    </div>
{% endblock %}
