{% extends "base.html.twig" %}
{% block title %}Page administrateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">BIENVENUE SUR LA PAGE ADMINISTRATEUR</h1>
    <section class="text-center border border-primary">
        <h2 class="mt-5">- PRESTATIONS -</h2>
        <div class="row d-flex justify-content-center">
            <div class="my-5 mx-5">
                <a class="btn btn-info" role="button" href="{{ path('serviceForm') }}">Ajouter une prestation</a>
            </div>
            <div class="my-5 mx-5">
                <a class="btn btn-danger" role="button" href="{{ path('serviceChange') }}">Modifier une prestation</a>
            </div>
        </div>
    </section>  
    <section class="text-center border border-primary">
        <h2 class="mt-5">- UTILISATEURS -</h2>
        <div class="d-flex justify-content-center my-5 mx-5">
            <a class="btn btn-success" role="button" href="{{ path('userChange') }}">Modifier un utilisateur</a>
        </div>
    </section>
{% endblock %}
