{% extends "base.html.twig" %}

{% block title %}Modifier une prestation
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <label class="modifLabel mr-2">CHOISIR UNE PRESTATION A MODIFIER</label>
        <select id="selectService">
            <option value=""></option>
            {% for service in services %}
                <option value="{{ service.id }}">{{ service.title }}</option>
            {% endfor %}
        </select>
        <div id="formServiceChange"></div>
    </div>

{% endblock %}
