{% extends "base.html.twig" %}

{% block title %}Modifier un utilisateur{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}


{% block body %}
<div class="container text-center mt-5">
    <label class="modifLabel mr-2">CHOISIR UN UTILISATEUR A MODIFIER</label>
    <select id="selectUser">
        <option value=""></option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <div id="formUserChange"></div>
</div>
{% endblock %}