body {
    overflow: hidden;
}

#aboutBg {
    position: relative;
}

h1 {
    position: absolute;
    z-index: 1;
    font-size: 4.5vw;
    left: 18vw;
    top: 12vw;
}

#AboutImage {
    position: absolute;
    z-index: 1;
}

#aboutText {
    position: absolute;
    z-index: 2;
    font-family: "IndieFlower-Regular", cursive;
    color: #737063;
    float: right;
    width: 28vw;
    font-size: 1.2vw;
    top: 20vw;
    right: 14vw;
    text-align: center;
}

@media (max-width: 990px) {
    h1 {
        top: 13vh;
    }

    #aboutText {
        width: 30vw;
        top: 19vh;
        font-size: 1vw;
    }
}