body {
    background-image: url("/assets/Pictures/Background/notebookBg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    overflow: hidden;
}  

h1 {
    font-size: 4vw; 
    margin-left: 19vw; 
    margin-top: 4vw; 
}

#aboutText {
    font-family: "IndieFlower-Regular", cursive;
    color: #737063;
    float: right;
    width: 26vw; 
    font-size: 1.3vw; 
    margin-right: 17vw;
    text-align: center;
}