body {
    background-image: url("/assets/Pictures/Background/BgJaune.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

h2 {
    font-family: "NunitoSans-ExtraBold" !important;
    color: #736A40 !important;
    height: 4.2vw;
}

h5 {
    font-family: "NunitoSans-ExtraBold" !important;
    color: #736A40 !important;
}

.modifLabel {
    font-family: "NunitoSans-ExtraBold" !important;
    color: #736A40 !important;
    height: 2vw;
}

.custom_file input {
    margin-top: 2vw;
}

#ModifServiceTitle {
    font-size: 3vw !important;
}

#formServiceChange form {
    border: none !important;
}

#formUserChange form {
    border: none !important;
}

.addService form input {
    margin-bottom: 1vw;
}

.custom-file {
    margin-bottom: 1vw;
}

#services_description {
    margin-bottom: 1vw;
}

.modal-header h5 {
    font-family: "IndieFlower-Regular", cursive;
    color: #009FE3 !important;
    font-size: 2vw !important;
    text-shadow: 2px 2px 2px white;
  }

  .cancelModif {
    background-color: #736A40 !important;
    border-color: #736A40 !important;  
  }

  
  