body {
    background-image: url("/assets/Pictures/Background/BgJaune.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

h2 {
    font-family: "NunitoSans-ExtraBold" !important;
    color: #736A40 !important;
    height: 4.2vw;
}

.custom_file input {
    margin-top: 2vw;
}

#ModifServiceTitle {
    font-size: 3vw !important;
}

#formServiceChange form {
    border: none !important;
}

#formUserChange form {
    border: none !important;
}