
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #736A40 !important;
  font-family: "NunitoSans-Regular" !important;
}

.navbar  {
  font-family: "NunitoSans-Regular" !important;
  background-color: #736A40 !important;
  /* max-height: 4vw; */
}

.nav-link {
  font-size: 1.3vw;
  color: #FFF8AB !important;
}

.nav-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.connection {
  margin-left: 8vw;
}

#logo {
  width: 10.4vw;
}

.btn {
  font-family: "NunitoSans-Regular";
  border-color: #009FE3 !important;
  background-color: #009FE3 !important;
}

.btn:hover {
  background-color: rgb(3, 149, 211) !important;
}

h1 {
  font-family: "IndieFlower-Regular", cursive;  
  text-shadow: 2px 2px 2px white;
  color: #009FE3;
  font-size: 5.2vw;
}

.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
}

.modal-header h5 {
  font-family: "IndieFlower-Regular", cursive;
  color: #009FE3 !important;
  font-size: 3.1vw !important;
  text-shadow: 2px 2px 2px white;
}

.modal-header input {
  color: red !important;
}

.modal-content {
  background-image: url("/assets/Pictures/Background/BgJaune.jpg");
  background-size: cover;
}

#btnCancelModal {
  background-color: #736A40 !important;
  border-color: #736A40 !important;
}

.form-group ::placeholder {
  color: #736A40 !important;
}
