html,
body {
  margin: 0;
  padding-bottom: 410px;
  /* overflow-x: hidden; */
}

.navbar {
  height: 80px;
}

.navbar,
.page-footer {
  font-family: "Poppins-Bold";
}

.nav-link {
  font-size: 25px;
  color: aliceblue !important;
}

.connection {
  margin-left: 150px;
}

#logo {
  margin-top: 20px;
}
