html {
  height: 100%;
}

body {
  overflow-x: hidden;
  ;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #736A40 !important;
  font-family: "NunitoSans-Regular" !important;
}

.navbar {
  font-family: "NunitoSans-Regular" !important;
  background-color: #736A40 !important;
  height: 80px;
}

.nav-link {
  font-size: 25px;
  color: #FFF8AB !important;
}

.nav-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.connection {
  margin-left: 150px;
}

#logo {
  margin-top: 20px;
}

.btn {
  font-family: "Lora-Bold";
  border-color: #736A40 !important;
  background-color: #736A40 !important;

}

.btn:hover {
  background-color: #343A40 !important;

}

h1 {
  font-family: "Lora-Bold";
  color: #009FE3;
  font-size: 80px;
}