body {
    background-image: url("/assets/Pictures/Background/BgJaune.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.articles {
    background-color: white;
    padding: 1vw;
    font-family: "NunitoSans-Regular";
    color: #737063;
    margin-top: 3vw;
}

.articles h2 {
    font-family: "NunitoSans-BoldItalic";
}

.articles img {
    margin-bottom: 1vw;
}

#comments {
    background-color: white;
    padding: 1vw;
    font-family: "NunitoSans-Regular";
    color: #737063;
}

#verticalSeparation {
    border-right: 1px solid black;
}