body {
    background-image: url("/assets/Pictures/Background/cartBg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: center center;
    background-repeat: no-repeat;
    background-position: top;
}

.table {
    background-color: white;
}

.table th {
    font-family: "NunitoSans-ExtraBold";
    color: #737063;
    font-size: 1.6vw;
}

.table td {
    font-family: "NunitoSans-Regular";
    color: #737063;
    font-size: 1vw;
}

#total {
    font-family: "NunitoSans-ExtraBold"; 
}

#trash {
    background-color: red !important;
    border-color: red !important;
}

#emptyCart {
    font-family: "NunitoSans-ExtraBold";
    color: #737063;
    font-size: 3.1vw;
    text-align: center;
}

@media (max-width: 1400px) {
    body {
        background-image: url("/assets/Pictures/Background/BgJaune.jpg");
    }
}
