body {
    background-image: url("/assets/Pictures/Background/contactBg.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#letterIcon {
    width: 4vw;
}

#formContact label {
    color: #737063;
    font-size: 2vw;
}

#map {
    width: 33vw;
    height: 29vw;
    border-radius: .25rem;
}

#linkMap {
    color: #737063;
    text-decoration: none !important;
}

.followUs {
    font-family: "IndieFlower-Regular";
    font-size: 2vw;
    color: #FFF8AB;
}

#legalNotice {
    margin-left: 30%;
    font-size: 1vw;
    color: #FFF8AB;
}

#legalNotice:hover {
    text-decoration: none;
    opacity: 0.6;
}

.footer-copyright {
    color: #FFF8AB;
}