body {
    background-image: url("/assets/Pictures/Background/contactBg2.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#letterIcon {
    width: 80px;
}

#formContact label {
    color: #737063;
    font-size: 30px;
}

#map {
    width: 625px;
    height: 550px;
    border-radius: .25rem;
}

#linkMap {
    color: #737063;
    text-decoration: none !important;
}

.followUs {
    font-family: "IndieFlower-Regular";
    font-size: 60px;
    color: #FFF8AB;
}

#legalNotice {
    font-size: 20px;
    color: #FFF8AB;

}

.footer-copyright {
    color: #FFF8AB;
}