body {
    background-image: url("/assets/Pictures/network_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Poppins-Bold";
    color: aliceblue;
    font-size: 80px;
    text-align: start;
    padding: 120px;
}

