body {
    overflow: hidden;
}

#gifWecomin {
    position: absolute;
    z-index: 2;
    margin-top: 10vw;
    margin-left: 23vw;
    width: 34.2vw;
    height:21.4vw;
}

#homeBg {
    position: relative;
}