body {
    background-image: url('/assets/Pictures/Background/inscription.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.form-control {
    display: inline !important;
}

#registrationForm {
    color: #737063;
    font-size: 1.6vw;
}

#test {
    margin-left: 20%;
}


