body {
    background-image: url("/assets/Pictures/Background/BgJaune.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.services {
background-color: white;
}

#serviceTitle {
    font-family: "IndieFlower-Regular";
    font-size: 2.1vw;
    color: #737063;
    text-align: center;
}

#serviceDescription {
    font-family: "NunitoSans-Regular";
    color: #737063;
    font-size: 1vw;
}
