{% extends "base.html.twig" %}

{% block title %}Nos prestations
{% endblock %}

{% block body %}

    <section class="services">

        {% for service in services %}
            <services>
                <h2>{{ service.title }}</h2>
                <img src="{{ service.picture }}" alt="image de la prestation">
                {{ service.description | raw }}
                {{ service.price }}
            </services>
        {% endfor %}

    </section>

{% endblock %}
