{% extends "base.html.twig" %}

{% block title %}Nos prestations
{% endblock %}

{% block body %}
    <section class="services">

        <services>
            <h2>Titre du service</h2>
            <div class="metadata"></div>
            <img src="http://placehold.it/350x150" alt="image de la prestation">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsa consequatur quibusdam similique illo voluptate officia reprehenderit est itaque! Amet dolorem nesciunt possimus! Quos dolorem ut repellat, perspiciatis praesentium aut harum libero. Qui libero adipisci officia animi et id ipsum, minus consequuntur reiciendis, ab quod suscipit mollitia voluptatibus error architecto.</p>
            <p>1000€</p>
        </services>

    </section>
{% endblock %}
