{% extends "base.html.twig" %}

{% block body %}
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.1405582427978525%2C45.83776961260888%2C4.206304550170899%2C45.872560923854486&amp;layer=mapnik&amp;marker=45.855167989021616%2C4.173431396484375" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=45.8552&amp;mlon=4.1734#map=14/45.8552/4.1734">Afficher une carte plus grande</a></small>
{% endblock %}