{% extends "base.html.twig" %}

{% block title %}Mentions Légales
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/legalNotice.css">
{% endblock %}


{% block body %}

<h1>Information légales</h1>

<p>
    Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.
</p>

<h2>Editeur du site</h2>
<p>
    Site Internet Qualité
    par Natural-net
    49 boulevard Antoine Gautier
    33000 Bordeaux
    France
    Tél. : + 33 (0)6 62 79 25 55
    Fax : + 33 (0)5 40 00 02 66
    https://www.site-internet-qualite.fr

    Natural net est une EURL au capital de 3500€
    RCS B 497 553 71 - Siret : 49755371900020 - APE : 6201Z
    N° déclaration CNIL : 1522193
</p>

<h2>Conditions d'utilisation</h2>

<p>
    Le site accessible par les url suivants : www.site-internet-qualite.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Natural net.
    Natural net ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
</p>

<h2>Limitation de responsabilité</h2>

<p>
    Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).

    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Natural net ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.   

    Les photos sont non contractuelles.

    Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Natural net.
</p>

<h2>Litiges</h2>

<p>
    Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Natural net. La langue de référence, pour le règlement de contentieux éventuels, est le français.
</p>

<h2>Déclaration à la CNIL</h2>

<p>
    Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr). 
</p>

<h2>Droit d'accès</h2>

<p>
    En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Natural net 49, Boulevard Antoine Gautier 33000 Bordeaux ou par voie électronique à l’adresse email suivante : contact@natural-net.fr.
    Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.
</p>

<h2>Confidentialité</h2>

<p>
    Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.
</p>

<h2>Hébergeur</h2>

<p>
    Kiubi
    Plateforme de gestion et création de sites internet
    www.kiubi.com
    contact@kiubi.com
</p>

<h2>Conditions de service</h2>

<p>
    Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
</p>

<h2>Informations et exclusion</h2>

<p>
    Natural net met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Natural net, et signaler toutes modifications du site qu'il jugerait utile. Natural net n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
</p>

<h2>Cookies</h2>

<p>
    Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
</p>

<h2>Liens hypertextes</h2>

<p>
    Les sites internet de Natural net peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.

    Natural net ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Natural net ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.

    Les utilisateurs, les abonnés et les visiteurs des sites internet de Natural net ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Natural net.

    Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Natural net, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Natural net se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
</p>

<h2>Recherche</h2>

<p>
    En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Natural net reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
</p>

<h2>Précautions d'usage</h2>

<p>
    Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....
</p>

<h2>Responsabilité</h2>

<p>
    Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Natural net apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Natural net ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.   
</p>

<h2>Contactez-nous</h2>

<p>
    Natural net est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@natural-net.fr.
</p>
{% endblock %}