/* POPPINS */
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-display: auto;
}

/* RUBIK */
@font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
    font-display: auto;
}

/* LORA */
@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/Lora/Lora-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora/Lora-Bold.ttf");
  font-display: auto;
}
@font-face {
  font-family: "Lora-Bold-Italic";
  src: url("../fonts/Lora/Lora-BoldItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "Lora-Italic";
  src: url("../fonts/Lora/Lora-Italic.ttf");
  font-display: auto;
}

/* NUNITO_SANS */
@font-face {
  font-family: "NunitoSans-Black";
  src: url("../fonts/Nunito_Sans/NunitoSans-Black.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-BlackItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-BoldItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-ExtraBold";
  src: url("../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-ExtraBoldItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-ExtraLight";
  src: url("../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-ExtraLightItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-Italic";
  src: url("../fonts/Nunito_Sans/NunitoSans-Italic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-Light";
  src: url("../fonts/Nunito_Sans/NunitoSans-Light.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-LightItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-LightItalic.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-SemiBold";
  src: url("../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf");
  font-display: auto;
}
@font-face {
  font-family: "NunitoSans-SemiBoldItalic";
  src: url("../fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf");
  font-display: auto;
}



